body {
  min-height: 100vh;
  font-family: "Cormorant", serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav {
  color: red;
  padding: 0.1em 1em;
  border: 1px solid black;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: space-between; */
}
nav ul {
  width: min-content;
  display: flex;
  border: 1px solid black;
}
nav li {
  cursor: pointer;
  border: 1px solid black;
  margin: 0 0.5em;
  padding: 0.5em 1em;
}
main {
  text-align: center;
}
footer {
  text-align: center;
}
